*.zip
data/
seoulbike/
seoul_bike/
main.ipynbs
seoul*.csv
venv/
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.DS_Store
*.egg-info/
*.egg
dist/
build/
.env
*.bak
*.swp
*.tmp
*.orig
*.out
*.pid
*.coverage
*.coverage
*.py[cod]
*.pkl
server_env/
.idea/
*.iml
API_KEY_SETUP.md
*.html